/* Montserrat And Lato */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap');
/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Lato', sans-serif; */

/* some universal properties */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    /* border: 10px solid lightgray; */
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
   

}

.main-container{

    /* border: 1px solid grey; */
    width: 80%;
    height: 80vh;
    border-radius: 6px;
    box-shadow: 0px 2px 11px -1px rgb(97, 108, 111);
    /* display: flex;
    justify-content: center; */
    display: grid;
    grid-template-rows: 80px 1fr;
    grid-template-columns: 30% 1fr 1fr;
}

.get-data{
    height: 80px;
    /* width: 90%; */
    border: 1px solid black; 
    grid-column: 1/-1;   
}

.show-data{

    border: 1px solid black;  
}

.log{

    border: 1px solid black;  
}

